fastapi
uvicorn
python-multipart
pymupdf
python-docx
chromadb
langchain
langchain-groq
langchain-community
llama-index
llama-index-vector-stores-chroma
sentence-transformers
supabase
python-dotenv
pydantic
httpx
slowapi
python-jose[cryptography]
passlib[bcrypt]